@{
    ViewData["Title"] = "Guess the celeb";
}

@model DyerGame.Models.Celeb;

<h2>@Html.DisplayFor(model => model.Name)</h2>

<div>
    <a asp-action="Guessed" asp-route-id="@Model.Id">Guessed</a> |
    <a asp-action="Burn" asp-route-id="@Model.Id">Burn</a> |
    <a asp-action="Next" >Next</a> |
</div>

